<div class="container">
    <h1>Create A New Reservation</h1>
    <form #reservation="ngForm" (ngSubmit)="onSubmit(reservation)">
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="name" class="form-label">Guest Name:</label>
                <input type="text" class="form-control" name="name" placeholder="name" #name="ngModel" ngModel required>
                <div *ngIf="name.invalid && name.touched">name field is required</div>
            </div>
            <div class="col-md-6">
                <label for="email" class="form-label">Guest Email:</label>
                <input type="email" class="form-control" name="email" placeholder="email" #email="ngModel" ngModel required>
                <div *ngIf="email.invalid && email.touched">email field is required</div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="contact" class="form-label">Contact No:</label>
                <input type="text" class="form-control" name="contact" placeholder="contact" #contact="ngModel" ngModel required>
                <div *ngIf="contact.invalid && contact.touched">phone field is required</div>
            </div>
            <div class="col-md-6">
                <label for="address" class="form-label">Address:</label>
                <textarea name="address" name="address" placeholder="address" #address="ngModel" class="form-control" ngModel required></textarea>
                <div *ngIf="address.invalid && address.touched">address field is required</div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="country" class="form-label">Country:</label>
                <select name="country" name="country" class="form-control" #country="ngModel" ngModel required>
                    <option value="India">India</option>
                    <option value="USA">USA</option>
                    <option value="UK">UK</option>
                    <option value="Australia">Australia</option>
                    <option value="Ireland">Ireland</option>
                </select>
                <div *ngIf="country.invalid && country.touched">country field is required</div>
            </div>
            <div class="col-md-6">
                <label for="checkInDate" class="form-label">Check-In Date:</label>
                <input type="date" class="form-control" name="checkInDate" #checkInDate="ngModel" ngModel required>
                <div *ngIf="checkInDate.invalid && checkInDate.touched">checkin field is required</div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="checkOutDate" class="form-label">Check-Out Date:</label>
                <input type="date" class="form-control" #checkOutDate="ngModel" name="checkOutDate" ngModel required>
                <div *ngIf="checkOutDate.invalid && checkOutDate.touched">checkout field is required</div>
            </div>
            <div class="col-md-6">
                <label for="roomNumber" class="form-label">Room Number:</label>
                <input type="number" class="form-control" name="roomNumber" #roomNumber="ngModel" placeholder="room number" ngModel required>
                <div *ngIf="roomNumber.invalid && roomNumber.touched">room number field is required</div>
            </div>
        </div>
        <div class="submit">
            <button type="submit" class="btn btn-primary" [disabled]="reservation.invalid">Submit</button>
        </div>
    </form>
</div>