.login-container {
    position: relative;
    width: 100%;
    height: 100vh; /* Adjust as needed */
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    max-width: 400px;
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adding shadow effect */
}

/* Styles for form elements */
.login-form label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333; /* Changing label color */
}

.login-form input[type="text"],
.login-form input[type="password"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%; /* Making input fields full width */
    box-sizing: border-box; /* Including padding and border in the width */
}

/* Adding some styling to input fields on focus */
.login-form input[type="text"]:focus,
.login-form input[type="password"]:focus {
    border-color: #007bff; /* Changing border color on focus */
}

/* Styles for the submit button */
.login-form button[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff; /* Blue color */
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%; /* Making button full width */
}

/* Changing button color on hover */
.login-form button[type="submit"]:hover {
    background-color: #0056b3; /* Darker blue color on hover */
}
