<div class="login-container">
    <div class="login-form">
        <form>
            <div class="username">
                <label for="username">USERNAME</label>
                <input type="text" name="username" placeholder="username">
            </div>
            <div class="password">
                <label for="password">PASSWORD</label>
                <input type="text" name="password" placeholder="password">
            </div>
            <button type="submit" class="btn-btn-success">SUBMIT</button>
        </form>
    </div>
</div>
